{% extends "layout.html" %}
{% block content %}
<div class="home">

	<div class="text-center">

		<a href="https://github.com/zzzchaozzz/ComputerGraphics">
			<figure class="figure ">
				<img src="/static/img/cg.gif" width=240 height=160 class="rounded mx-auto d-block " alt=”animated”>
			</figure>
		</a>
		
		<a href="https://github.com/zzzchaozzz/ComputerGraphics">
			<figure class="figure ">
				<img src="/static/img/cg.gif" width=240 height=160 class="rounded mx-auto d-block " alt=”animated”>
			</figure>
		</a>

		<a href="https://github.com/zzzchaozzz/ComputerGraphics">
			<figure class="figure ">
				<img src="/static/img/cg.gif" width=240 height=160 class="rounded mx-auto d-block " alt=”animated”>
			</figure>
		</a>

		<a href="https://github.com/zzzchaozzz/ComputerGraphics">
			<figure class="figure ">
				<img src="/static/img/cg.gif" width=240 height=160 class="rounded mx-auto d-block " alt=”animated”>
			</figure>
		</a>

		<a href="https://github.com/zzzchaozzz/ComputerGraphics">
			<figure class="figure ">
				<img src="/static/img/cg.gif" width=240 height=160 class="rounded mx-auto d-block " alt=”animated”>
			</figure>
		</a>

		<a href="https://github.com/zzzchaozzz/ComputerGraphics">
			<figure class="figure  ">
				<img src="/static/img/cg.gif" width=240 height=160 class="rounded mx-auto d-block " alt=”animated”>
			</figure>
		</a>
	
		<a href="https://github.com/zzzchaozzz/ComputerGraphics">
			<figure class="figure  ">
				<img src="/static/img/cg.gif" width=240 height=160 class="rounded mx-auto d-block " alt=”animated”>
			</figure>
		</a>

		<a href="https://github.com/zzzchaozzz/ComputerGraphics">
			<figure class="figure  ">
				<img src="/static/img/cg.gif" width=240 height=160 class="rounded mx-auto d-block " alt=”animated”>
			</figure>
		</a>
		
</div>

{% endblock %}


