{% extends "layout.html" %}
{% block content %}
<div class="research">

<script>document.querySelector(".logo").innerHTML="< Python >"</script>

<div class="text-center">
    <!-- <a href="https://wood.codemao.cn/">
        <figure class="figure brick show">
            <h3 class="title">Link - [ CodeMao Wood Editor ]: wood.codemao.cn</h1>		
        </figure>
    </a> -->
    <h3>Link - < CodeMao Wood Editor > : <a href="https://wood.codemao.cn"> [ wood.codemao.cn ] </wood.codemao.cn></a> </h3>
    <hr>
    <br>
</div>


<h1 class="text-center">{ Introduction to Python }</h1>  
<div class="text-center">

    <a href="">
        <figure class="figure brick show">
            <h2 class="title">Events</h1>
            <ul class="list text-left">
                <li>start our Python world</li>
                <li>print</li>
                <li>our first program</li>
                <li>comments</li>
                <li>input</li>
                <li>execute code</li>
            </ul>		
        </figure>
    </a>	  

    <a href="">
        <figure class="figure brick show">
            <h2 class="title">Control</h1>
            <ul class="list text-left">
                <li>for</li>
                <li>while</li>
                <li>if</li>
                <li>if ... else ...</li>
                <li>break</li>
                <li>time</li>
            </ul>		
        </figure>
    </a>

    <a href="">
        <figure class="figure brick show">
            <h2 class="title">Operators</h1>
            <ul class="list text-left">
                <li>math calculation</li>
                <li>module</li>
                <li>abs</li>
                <li>logical operation</li>
                <li>math library</li>
                <li>random library</li>
            </ul>		
        </figure>
    </a>

    <a href="">
        <figure class="figure brick show">
            <h2 class="title">String</h1>
            <ul class="list text-left">
                <li>types conversion</li>
                <li>length</li>
                <li>upper & lower case</li>
                <li>string to list</li>
                <li>join</li>
                <li>substring</li>
            </ul>		
        </figure>
    </a>

    <a href="">
        <figure class="figure brick show">
            <h2 class="title">Variable</h1>
            <ul class="list text-left">
                <li>create variable</li>
                <li>name variable</li>
                <li>value variable</li>
                <li>change variable</li>
                <li>delete & rename variable</li>
                <li>value more variables</li>
            </ul>		
        </figure>
    </a>

    <a href="">
        <figure class="figure brick show">
            <h2 class="title">List</h1>
            <ul class="list text-left">
                <li>append</li>
                <li>insert</li>
                <li>delete</li>
                <li>elements</li>
                <li>index</li>
                <li>sublist</li>
            </ul>		
        </figure>
    </a>

    <a href="">
        <figure class="figure brick show">
            <h2 class="title">Dictionary</h1>
            <ul class="list text-left">
                <li>keys</li>
                <li>value</li>
                <li>delete</li>
                <li>length</li>
                <li>in & not in</li>
                <li>operations</li>
            </ul>		
        </figure>
    </a>

    <a href="">
        <figure class="figure brick show">
            <h2 class="title">Functions</h1>
            <ul class="list text-left">
                <li>defination</li>
                <li>create a function</li>
                <li>parameters</li>
                <li>return</li>
                <li>exercise</li>
                <li>calculator</li>
            </ul>		
        </figure>
    </a>

</div>

<hr>
<h1 class="text-center">{ Python Turtle }</h1>  
<div class="text-center">

    <a href="">
        <figure class="figure brick show">
            <h2 class="title">Events</h1>
            <ul class="list text-left">
                <li>Pen</li>
                <li>back ground color</li>
                <li>our first program</li>
                <li>comments</li>
                <li>input</li>
                <li>execute code</li>
            </ul>		
        </figure>
    </a>	  

</div>

</div>
{% endblock %}
