{% extends "layout.html" %}
{% block content %}
<div class="scratch">

	<script>document.querySelector(".logo").innerHTML="< Scratch >"</script>
	
	<h1 class="text-center">{ Introduction to Blocks }</h1>  

	<div class="text-center">

		<a href="https://github.com/zzzchaozzz/ComputerGraphics">
			<figure class="figure brick show">
				<h2 class="title">Section 1</h1>
				<ul class="list text-left">
					<li>Developed an application to display images from CT data.</li>
					<li>Wrote ray tracing & volume rendering source code.</li>
					<li>Research in granular model rendering.</li>
				</ul>		
			</figure>
		</a>	  

		<a href="https://github.com/zzzchaozzz/ComputerGraphics">
			<figure class="figure brick show">
				<h2 class="title">Section 1</h1>
				<ul class="list text-left">
					<li>Developed an application to display images from CT data.</li>
					<li>Wrote ray tracing & volume rendering source code.</li>
					<li>Research in granular model rendering.</li>
				</ul>		
			</figure>
		</a>

	</div>

</div>

{% endblock %}


